---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>{{ site.title }} / Recipes</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="author" content="{{ site.name }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-dark.css" media="screen">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        a {
            text-decoration: none;
            color: #b5e853;
        }
        a:link {
            text-decoration: none;
            color: #b5e853;
        }
        a:visited {
            text-decoration: none;
            color: #b5e853;
        }
        .note {
            font-style: italic;
            font-size: 0.875em;
            text-decoration: none;
        }
    </style>

  </head>

  <body>

    <header>
      <div class="container">
        <h1><a href="/">{{ site.title }}</a>&nbsp;/&nbsp;Recipes</h1>
        <h2></h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <div style="width:95%; margin:10px auto;">
          <div id="toc_header" style="color: #fff; font-size: 20px; text-align: center; text-shadow: 0 0 5px rgba(104, 182, 255, 0.5)">Recipes</div>
          <div id="i_toc"></div>
        </div>
        {% for recipe_hash in site.data.recipes %}
          {% assign recipe = recipe_hash[1] %}
          {% if forloop.index0 % 3 == 0  %}
            <div class="card-deck">
          {% endif %}
          <div class="card bg-dark">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ recipe.name }}</h5>
              <p class="card-text">{{ recipe.description }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          {% if forloop.index0 % 3 == 0  %}
            </div>
          {% endif %}
        {% endfor %}
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        <div class="accordion" id="accordionRecipes">
          {% for recipe_hash in site.data.recipes %}
            {% assign recipe = recipe_hash[1] %}
            {% capture nameId %}name{{ forloop.index }}{% endcapture %}
            {% capture descriptionId %}description{{ forloop.index }}{% endcapture %}
            {% capture picturesId %}pictures{{ forloop.index }}{% endcapture %}
            {% capture equipmentId %}equipment{{ forloop.index }}{% endcapture %}
            {% capture ingredientsId %}ingredients{{ forloop.index }}{% endcapture %}
            {% capture directionsId %}directions{{ forloop.index }}{% endcapture %}
            {% capture referencesId %}references{{ forloop.index }}{% endcapture %}
            <div class="card bg-dark">
              <div class="card-header bg-dark text-white" id="{{ nameId }}-Heading">
                <h2 class="mb-0">
                  <a class="btn btn-outline-primary btn-block" data-toggle="collapse" href="#{{ nameId }}" role="button" aria-expanded="false" aria-controls="{{ nameId }}">
                    {{ recipe.name }}
                  </a>
                </h2>
              </div>
              <div id="{{ nameId }}" class="collapse bg-dark" aria-labelledby="{{ nameId }}-Heading" data-parent="#accordionRecipes">
                <div class="card-body bg-secondary text-white">

                  {% if recipe.description %}
                  <div id="{{ descriptionId }}">
                    <h4>Description</h4>
                    <p>{{ recipe.description }}</p>
                  </div>
                  {% endif %}

                  {% if recipe.pictures.size > 0 %}
                  <div id="{{ picturesId }}">
                    <h4>Pictures</h4>
                    <p>
                      <a class="btn btn-outline-secondary btn-sm" data-toggle="collapse" href="#{{ picturesId }}-Collapse" role="button" aria-expanded="false" aria-controls="{{ picturesId }}-Collapse">
                        Show
                      </a>
                    </p>
                    <div class="collapse" id="{{ picturesId }}-Collapse">
                      <div class="card card-body">
                        <div id="{{ picturesId }}-CarouselIndicators" class="carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                            {% for picture in recipe.pictures %}
                              {% if forloop.index == 1 %}
                                <li data-target="#{{ picturesId}}-CarouselIndicators" data-slide-to="{{ forloop.index }}" class="active"></li>
                              {% else %}
                                <li data-target="#{{ picturesId}}-CarouselIndicators" data-slide-to="{{ forloop.index }}"></li>
                              {% endif %}
                            {% endfor %}
                          </ol>
                          <div class="carousel-inner">
                            {% for picture in recipe.pictures %}
                              {% if forloop.index == 1 %}
                                <div class="carousel-item active">
                              {% else %}
                                <div class="carousel-item">
                              {% endif %}
                                <img src="{{ picture.url }}" class="d-block w-100" alt="{{ picture.alt }}">
                              </div>
                            {% endfor %}
                          </div>
                          <a class="carousel-control-prev" href="#{{ picturesId }}-CarouselIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#{{ picturesId }}-CarouselIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}

                  {% if recipe.equipment %}
                    <div id="{{ equipmentId }}">
                      <h4>Equipment</h4>
                      <ul id="{{ equipmentId }}-List">
                        {% for item in recipe.equipment %}
                          <li>{{ item }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}

                  {% if recipe.ingredients.size > 0 %}
                  <div id="{{ ingredientsId }}">
                    <h4>Ingredients</h4>
                    <ul id="{{ ingredientsId }}-List">
                      {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}

                  {% if recipe.directions.size > 0 %}
                  <div id="{{ directionsId }}">
                    <h4>Directions</h4>
                    <ul id="{{ directionsId }}-List">
                      {% for direction in recipe.directions %}
                        <li>{{ direction }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}

                  {% if recipe.references.size > 0 %}
                  <div id="{{ referencesId }}">
                    <h4>References</h4>
                    <ul id="{{ referencesId }}-List">
                      {% for reference in recipe.references %}
                        <li><a href="{{ reference.url }}" target="_new">{{ reference.name }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}

                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    </div>

  </body>

</html>
