---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>{{ site.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="author" content="{{ site.name }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-dark.css" media="screen">

    <style>
        a {
            text-decoration: none;
        }
        .note {
            font-style: italic;
            font-size: 0.875em;
            text-decoration: none;
        }
    </style>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ site.title }}</h1>
        <h2></h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <h3>
          <a id="welcome-to-naponline" class="anchor" href="#welcome-to-naponline" aria-hidden="true">
            <span class="octicon octicon-link"></span>
          </a>
          Recipes</h3>
        <ul>
          {% for r in site.data.recipes %}
            <li><a href="#">{{ r.name }}</a>
              <div class="note">
                {{ r.description }}
              </div>
              <div class="r_pictures">
                {% if r.pictures %}
                  {% for picture in r.pictures %}
                  <img class="r_picture" alt="{{ picture.alt }}" src="{{ picture.url }}" width="{{ picture.size.width }}" height="{{ picture.size.height }}" />
                  {% endfor %}
                {% endif %}
              <div>
              <p/>
              <h5>Ingredients</h5>
              <div class="r_ingredients">
                {% if r.ingredients %}
                  <ul>
                    {% for ingredient in r.ingredients %}
                      <li class="r_ingredient">{{ ingredient }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
              <p/>
              <h5>Directions</h5>
              <div class="r_directions">
                {% if r.directions %}
                  <ul>
                    {% for direction in r.directions %}
                      <li class="r_direction">{{ direction }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
              <p/>
              <h5>References</h5>
              <div class="r_references">
                {% if r.references %}
                  <ul>
                    {% for reference in r.references %}
                      <li class="r_reference"><a href="{{ reference.url }}">{{ reference.name }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>

  </body>
</html>
