<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{ site.data.layouts[page.layout].title }}</h1>
            <hr>
            <p>{{ site.data.layouts[page.layout].description }}</p>
            {% if site.data.layouts[page.layout].button %}
              {% assign name = site.data.layouts[page.layout].button.name %}
              {% assign href = site.data.layouts[page.layout].button.href %}
              <a href="{{ href }}" class="btn btn-primary btn-xl page-scroll">{{ name }}</a>
            {% endif %}
        </div>
    </div>
</header>
