<section class="page-section bg-primary" id="ip">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">IP Address</h2>
        <hr class="divider light my-4" />
        <p class="text-white-50 mb-4" id="ip_address_text"></p>
        <p class="text-white-50 mb-4" id="ip_address_json"></p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="https://api.naponline.net/ip">Text</a>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="https://api.naponline.net/ip/details">JSON</a>
      </div>
    </div>
  </div>
  <script src="ip.js"></script>
</section>
