<div id="recipes">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      {% for recipe_hash in site.data.recipes %}
        {% assign recipe = recipe_hash[1] %}
        {% capture modalId %}modal{{ forloop.index }}{% endcapture %}
        {% if recipe.pictures.size > 0 %}
          {% capture default-picture %}{{ recipe.pictures[0].url }}{% endcapture %}
          {% capture default-picture %}assets/recipes/placeholder.jpg{% endcapture %}
        {% else %}
          {% capture default-picture %}assets/recipes/placeholder.jpg{% endcapture %}
        {% endif %}
        <div class="col-lg-3 col-sm-6">
          <a class="recipes-box" href="#" data-toggle="modal" data-target="#{{ modalId }}">
            <img class="img-fluid" src="{{ default-picture }}" alt="" />
            <div class="recipes-box-caption">
              <div class="project-name">{{ recipe.name }}</div>
              <div class="project-category text-white-50">{{ recipe.description }}</div>
            </div>
          </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="{{ modalId }}-Title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">{{ recipe.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% if recipe.ingredients.size > 0 %}
                  <div>
                    <h4>Ingredients</h4>
                    <ul>
                      {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                {% if recipe.equipment %}
                  <div>
                    <h4>Equipment</h4>
                    <ul>
                      {% for item in recipe.equipment %}
                        <li>{{ item }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                {% if recipe.directions.size > 0 %}
                  <div>
                    <h4>Directions</h4>
                    <ul>
                      {% for direction in recipe.directions %}
                        <li>{{ direction }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                {% if recipe.references.size > 0 %}
                  <div>
                    <h4>References</h4>
                    <ul>
                      {% for reference in recipe.references %}
                        <li><small><a href="{{ reference.url }}" target="_new">{{ reference.name }}</a></small></li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
