<div id="recipes">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      {% for recipe_hash in site.data.recipes %}
        {% assign recipe = recipe_hash[1] %}
        <div class="col-lg-3 col-sm-6">
          <a class="recipes-box" href="{{ recipe.pictures[0].url }}">
            <img class="img-fluid" src="assets/recipes/placeholder.jpg" alt="{{ recipe.name }}" />
            <div class="recipes-box-caption">
              <div class="project-category text-white-50">Category</div>
              <div class="project-name">{{ recipe.name }}</div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
